@model NTBrokers.Models.Companies.CompanyBrokersModel

<h3>Brokers in @Model.CompanyName company</h3>

@using (Html.BeginForm("SortBy", "Company", new { companyName = $"{Model.CompanyName}" }, FormMethod.Post))
{
    <div class="container-full" style="background-color:aliceblue">
        <div class="container">
            @Html.DropDownListFor(x => Model.FilterSort.SortOrder, new SelectList(Model.FilterSort.SortProperties))
            <input type="submit" value="Sort" />
        </div>
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Brokers)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Surname</td>
                <td>todo remove</td>
            </tr>
        }
    </tbody>
</table>