@model List<NTBrokers.Models.Brokers.BrokerModel>

@*<h3>Brokers in @Model.Company.Name company</h3>*@

<table class="table">
    <thead>
        <tr>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Surname</td>
                <td>todo remove</td>
            </tr>
        }
    </tbody>
</table>