@model List<BrokerModel>

<a asp-controller="Broker"
   asp-action="Create">Add broker</a>

<table class="table">
    <thead>
        <tr>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Surname</td>
                <td>@Html.ActionLink("Apartments", "BrokerApartments", new { brokerId = item.Id })</td>
            </tr>
        }
    </tbody>
</table>